*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: "proxima-light";
    src: url(../burger_menu/Proxima/Proxima\ Nova\ Light/);
}
$proxima-font:"proxima-light";
$main-color: rgb(135, 88, 237);
.burger_container{
    background-color: black;
  min-height: 100vh;
  position: relative;
  font-family:sans-serif;
  width: 100%;
}

.navbar{
position: absolute;
top: 50%;
right: 50%;
transform: translate(50%,-30%);
}
.nav-list{
    display: flex;
    flex-direction: column;
    gap: 25px
    ;
}
.close_button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  padding: 5px 5px;
  img{width: 80%;}
}
.option-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    img{width: 15px;margin-left: -52px;}
}
.log-btn{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  flex-shrink: 0;
  position: absolute;
   bottom: 250%;
 

}
.nav-list{
    font-size: 20px;
    li{
a{color: rgb(226, 224, 224);
&:hover{color:$main-color;text-decoration: underline;}  
}
}
}

@media screen and (max-width:380px){
    .log-btn{
        bottom: 305%;
    }
    .close_button{
   img{ width: 60%;
    position: relative;
    top: 40px;
    left: 21px;}
    }
}