* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container-header-main {
  background-color: rgb(37, 21, 61);
  font-family: sans-serif;
  padding: 20px;

  .inner-box-header-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;

    span {
      font-weight: bold;
      font-size: 22px;
      color: white;
    }
  }
}

.logo-header-main {
  max-width: 48px;
  display: flex;
  flex-shrink: 0;
}

.contact-box-header-main {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.navigation-box-header-main {
  display: flex;
  align-items: center;
  gap: 20px;
 flex-shrink: 0;

  nav {
    flex: 1;
    display: flex;
    justify-content: center;


    ul {
      display: flex;
      gap: 20px;
      font-size: 16px;
      align-items: center;
      white-space: nowrap;
    }
  }

  a {
    color: white;

    &:hover {
      color: rgb(135, 88, 237);
    }
  }

  .button-header-main {
    max-width: 110px;
    padding: 6px 7px;
    background-color: rgb(37, 21, 61);
    border: none;
    display: flex;
    gap: 10px;

    svg {
      fill: white;
      max-width: 24px;
    }

    a {
      font-size: 16px;
      display: flex;
      align-items: center;

      &:hover {
        color: rgb(198, 188, 188);
      }
    }
  }

  .cart-header-main {
    fill: white;
    max-width: 36px;
    display: block;
  }
}

.dropdown-menu-header-main {
  display: none;
}

.burger-menu-header-main {
  display: none;
}

@media screen and (max-width: 640px) {
  .container-header-main {
    background-color: black;
    padding: 15px;
  }

  .burger-menu-header-main {
    display: block;
  }

  .navigation-box-header-main {
    margin: 0 45px;

    nav {
      display: none;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 430px) {
  .container-header-main {
    padding: 10px;
  }

  .logo-header-main {
    width: 30px;
  }

  .inner-box-header-main span {
    font-size: 15px;
  }

  .burger-menu-header-main {
    img {
      width: 35px;
    }
  }

  .navigation-box-header-main {
    svg {
      max-width: 26px;
    }
  }
}